---
import ServicesRender from "./components/servicesRender/ServicesRender";
---

<section
  class="flex flex-col items-center justify-center w-full mt-96 lg:mt-0 lg:flex-row bg-grayBackground"
>
  <ServicesRender client:visible />
</section>
