---
import ProductCard from "../productCard/ProductCard.astro";
import type { Product } from "../../_products.info";
import { products } from "../../_products.info";
---

<section
  class="flex flex-wrap items-center justify-center mt-8 lg:justify-between gap-x-8 gap-y-16"
>
  {products?.map((product: Product) => <ProductCard product={product} />)}
</section>
