---
import Layout from "@src/layouts/Layout.astro";
import About from "@components/pages/homepage/about/About.astro";
import Hero from "@components/pages/homepage/hero/Hero.astro";
import Services from "@components/pages/homepage/services/Services.astro";
import Products from "@components/pages/homepage/products/Products.astro";
import Team from "@components/pages/homepage/team/Team.astro";
import Appointment from "@components/pages/homepage/appointment/Appointment.astro";
---

<Layout>
  <main class="flex flex-col gap-y-52">
    <Hero />
    <About />
    <Services />
    <Products />
    <!-- <Team /> -->
    <!-- <Appointment /> -->
  </main>
</Layout>
