---
import Layout from "@src/layouts/Layout.astro";
import About from "@src/components/pages/homePage/about/About.astro";
import Hero from "@src/components/pages/homePage/hero/Hero.astro";
import Services from "@src/components/pages/homePage/services/Services.astro";
import Products from "@src/components/pages/homePage/products/Products.astro";
import Team from "@src/components/pages/homePage/team/Team.astro";
import Appointment from "@src/components/pages/homePage/appointment/Appointment.astro";
---

<Layout>
  <main class="flex flex-col gap-y-52">
    <Hero />
    <About />
    <Services />
    <Products />
    <Team />
    <Appointment />
  </main>
</Layout>
