---
import ServiceLayout from "@src/layouts/ServiceLayout.astro";
import ServicesHeader from "@components/pages/servicespage/header/ServicesHeader.astro";
---

<ServiceLayout>
  <main class="flex flex-col gap-y-52">
    <ServicesHeader />
  </main>
</ServiceLayout>
