---
import SectionHeader from "@components/ui/header/SectionHeader.astro";
import servicesHeaderInfo from "./_servicesHeader.info";
---

<section>
  <SectionHeader {...servicesHeaderInfo} />
</section>
