---
import { appointmentInfo } from "./_appointment.info";
import { Input } from "@nextui-org/react";
import StyledHeading from "@components/ui/headings/StyledHeading";
import StyledButton from "@components/ui/buttons/StyledButton";
---

<section
  class="flex items-center justify-center bg-appointment bg-center lg:min-h-[800px] h-[calc(100vh_-_150px)] bg-no-repeat bg-cover bg-fixed"
>
  <div
    class="flex flex-col items-center justify-center w-[400px] h-[600px] lg:w-[635px] bg-white shadow-2xl gap-y-8"
  >
    <StyledHeading
      normalText={appointmentInfo.normalText}
      styledText={appointmentInfo.styledText}
    />

    <div class="flex flex-col items-center justify-center w-full px-12 gap-y-7">
      <Input
        class="lg:w-[500px] min-w-[350px]"
        radius="none"
        size="lg"
        label="Nombre"
        name="name"
        type="string"
        maxLength={30}
        client:visible
      />

      <Input
        class="w-full"
        radius="none"
        size="lg"
        label="Apellido"
        name="lastName"
        type="text"
        maxLength={30}
        client:visible
      />

      <Input
        class="w-full"
        radius="none"
        size="lg"
        label="Email"
        name="email"
        type="email"
        maxLength={50}
        client:visible
      />

      <Input
        class="w-full"
        radius="none"
        size="lg"
        name="phone"
        label="Teléfono"
        type="tel"
        maxLength={20}
        client:visible
      />
    </div>
    <StyledButton className="text-white" href={appointmentInfo.buttonHref}>
      {appointmentInfo.buttonText}
    </StyledButton>
  </div>
</section>
